openapi: 3.1.0
info:
  title: Auto Content Engine API
  description: |
    The GEN Auto Content Engine API takes a raw idea all the way to a published video — agent setup, idea research, vidsheet production, layer composition, render, and publish.

    ## The 5-step journey

    Every operation belongs to one phase of a 5-step user journey. Each operation carries an `x-phase` extension you can filter on:

    | Phase | Meaning |
    |-------|---------|
    | `setup` | Step 1 — Set Up Your Agent (identity, voice, personality, API keys, workspaces) |
    | `ideas` | Step 2 — Generate Content Ideas (trending data, research, refinement, preferences) |
    | `convert` | Step 3 — Convert Idea to Vidsheet (clone template or build custom engine) |
    | `edit` | Step 4 — Edit & Generate (cells, layers, creation cards, trigger + poll) |
    | `export` | Step 5 — Export & Publish (render, download, publish to social) |

    Full journey-oriented docs: https://api.gen.pro

    ## Authentication

    All endpoints require authentication via one of:

    - **API Key** (recommended): Pass your API key in the `X-API-Key` header. Create keys on the agent's API page in the GEN dashboard.
    - **JWT**: Pass a Bearer JWT in the `Authorization: Bearer <token>` header.

    ## Base URLs

    ```
    https://api.gen.pro/v1       — agent setup, vidsheets, generations, renders, publishing
    https://agent.gen.pro/v1     — content ideas, research, conversations, chat
    https://agent-core.gen.pro/v1 — agent core (brand profile, watchlists, scheduled tasks)
    https://python.gen.pro        — social publishing integration (connect, schedule, remove posts)
    ```

    Each operation carries its own `servers` entry, so a generated client or a
    hand-written call goes to the backend that serves the route.

    ## Credits

    All `/v1/vidsheet/` endpoints require an active GEN credit balance.
    If your organization has no usable credits, requests return `422` with error code `usable_gen_credit_required`.

    Credits can be funded with x402 by calling `POST /v1/x402_credit_purchase`
    with `workspace_id` plus `amount_usd` or `credits`. If `network` is omitted,
    GEN returns every configured payment option in `payment_methods` and
    `payment_required.accepts`; show the Sui, Solana, and Base options to the
    user or calling agent and sign one selected accept entry. Workspace funding
    wallets are backend settlement infrastructure; the user-facing payment
    choices are the returned payment methods.

  version: 1.0.0
  contact:
    name: GEN Support
    url: https://gen.pro
  license:
    name: Proprietary

servers:
  - url: https://api.gen.pro/v1
    description: Auto Content Engine API
  - url: https://agent.gen.pro/v1
    description: Agent Chat API
  - url: https://agent-core.gen.pro/v1
    description: Agent Core API (watchlists)
  - url: https://python.gen.pro
    description: Publishing integration API (social connect and scheduling)

security:
  - apiKey: []
  - bearerAuth: []

tags:
  - name: Discovery
    description: Identify the authenticated user, their workspaces, and agents.
  - name: API Keys
    description: Create and manage Personal Access Tokens (PATs) for API authentication.
  - name: Sheets
    description: Create and retrieve Auto Content Engine sheets (vidsheets).
  - name: Rows
    description: Manage rows within a sheet.
  - name: Columns
    description: Manage columns within a sheet.
  - name: Cells
    description: Read and update individual cells.
  - name: Layers
    description: Manage video layers within cells.
  - name: Generations
    description: Trigger AI content generation on cells and layers.
  - name: Variables
    description: Global variables for template substitution.
  - name: Automation
    description: Agent-level webhook and callback configuration.
  - name: Content Monitoring
    description: Monitor and discover social media content across multiple platforms.
  - name: Publishing
    description: Post and schedule content to social media platforms.
  - name: Templates
    description: Browse and clone pre-configured engine templates.
  - name: Agents
    description: Create, read, update, and delete agents and their avatars.
  - name: Avatars
    description: A person the agent can appear as, with looks (images) and talking loops (silent talking videos).
  - name: Organizations
    description: Manage organizations (workspaces).
  - name: Billing
    description: Credit balance, plans, transactions, and credit purchase flows.
  - name: Content Resources
    description: Upload and manage content resources (images, videos, audio).
  - name: Asset Libraries
    description: Browse asset libraries and manage asset folders.
  - name: Direct Upload
    description: Get pre-signed S3 URLs for large file uploads.
  - name: Agent Profile
    description: (Legacy) Manage the agent's identity, voice, and brand profile. Prefer Agent Core for new work.
  - name: Agent Core
    description: |
      **Preferred** single-endpoint read/write for the agent setup canvas. One flat PATCH updates every brand field, personality, and default voice in a single call. Field names mirror what the FE Setup canvas saves, so developers and the FE speak the same language.
  - name: Proof of Genesis
    description: |
      Back up GEN assets to Walrus with verifiable hashes. Base URL `https://agent-core.gen.pro/v1`. Public assets may be uploaded raw; private assets must be encrypted before upload because Walrus blobs are public by default. Default automatic sources are downloaded and published assets; generated/uploaded sources are supported for opt-in or manual flows.
      Storage is monthly: Agent Core writes Walrus blobs for two epochs (~28 days), charges Rails operation `backup_to_blockchain` in GB-month units after upload/readback verification, and marks renewal due three days before expiry.
  - name: Agent Voice
    description: |
      Voice library, ElevenLabs integration, prompt-based design (4-step flow), audio-sample cloning, async TTS preview.
  - name: Agent Chat
    description: |
      Conversational AI agent interface. All endpoints use base URL `https://agent.gen.pro/v1`.
  - name: Song Mixes
    description: |
      Backend/API-first DJ-style song mixing. Base URL `https://agent.gen.pro/v1`.
  - name: Watchlists
    description: |
      Named collections of monitoring sources (accounts, hashtags, keywords) per
      agent. Base URL `https://agent-core.gen.pro/v1`. Scraped data feeds back
      into agent chat and content idea generation. CRUD operations are free;
      downstream scrapes bill normally.
  - name: Recurring Jobs
    description: |
      Scheduled agent runs ("daily tasks"). Base URL
      `https://agent.gen.pro/v1`. Each scheduled run is gated by available
      credits: a job remains configured if credits run out and resumes when
      they return.

paths:
  # gen:mcp-surface-paths:start — generated by scripts/sync_mcp_surface.py; do not edit

  /me:
    get:
      operationId: getMe
      x-mcp-tool: gen_discover
      x-mcp-branch: "platform.me"
      x-phase: setup
      summary: Get current user
      description: Returns the authenticated user's profile. Use this to verify your API key works.
      tags: [Discovery]
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: "abc123"
                email: "user@example.com"
                name: "Jane Doe"
                username: "janedoe"
                created_at: "2025-01-15T10:30:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /workspaces:
    get:
      operationId: listWorkspaces
      x-mcp-tool: gen_discover
      x-mcp-branch: "platform.workspaces"
      x-phase: setup
      summary: List workspaces
      description: Returns organizations where the authenticated user is an owner or manager.
      tags: [Discovery]
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /x402_credit_purchase:
    post:
      operationId: createX402CreditPurchase
      x-mcp-tool: gen_billing_action
      x-mcp-branch: "create_x402_credit_purchase"
      x-phase: export
      summary: Create an x402 credit-purchase quote
      description: |
        Create a 402 quote to fund workspace credits with USDC over x402.
        Pass either `amount_usd` or `credits`; x402 credit purchases are not
        limited to fixed credit packs. If `network` is omitted, GEN returns
        every configured payment option in `payment_methods` and
        `payment_required.accepts` instead of silently choosing one chain.

        Show the Sui, Solana, and Base options to the user or calling agent,
        sign one matching `payment_required.accepts[]` entry, then settle/retry
        with `PAYMENT-SIGNATURE`, `checkout_session_id`, and the chosen network.
        Workspace funding wallets are backend settlement/sweeping
        infrastructure; the user-facing choices are the returned payment
        methods.
      tags: [Organizations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id]
              properties:
                workspace_id:
                  type: string
                  description: Workspace/organization receiving credits.
                amount_usd:
                  type: string
                  description: Arbitrary USD amount to convert to credits.
                  example: "1.25"
                credits:
                  type: string
                  description: Arbitrary credit amount to buy.
                  example: "100.0"
                network:
                  type: string
                  enum: [sui, solana, base]
                  description: Optional selected payment network. Omit to receive all configured options.
      responses:
        '402':
          description: x402 payment required. Sign one returned payment method and settle/retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/X402CreditPurchaseQuote'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Missing amount, invalid workspace, or quote failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /agents:
    get:
      operationId: listAgents
      x-mcp-tool: gen_discover
      x-mcp-branch: "agent.capabilities"
      x-phase: setup
      summary: List agents
      description: Returns all agents the authenticated user has access to across their workspaces.
      tags: [Discovery]
      parameters:
        - name: workspace_id
          in: query
          description: Filter by workspace (organization) ID
          schema:
            type: string
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    post:
      operationId: createAgent
      x-mcp-tool: gen_agent_action
      x-mcp-branch: "create_agent"
      x-phase: setup
      summary: Create an agent
      description: Creates a new agent in the specified organization.
      tags: [Agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
                  type: string
                  description: Organization to create the agent in.
                agent:
                  type: object
                  required: [name]
                  properties:
                    name:
                      type: string
                      example: "My Brand Agent"
                    description:
                      type: string
                    time_zone:
                      type: string
                      example: "America/New_York"
                    eleven_lab_api_key:
                      type: string
                    hume_ai_api_key:
                      type: string
                    agent_avatars_attributes:
                      type: array
                      items:
                        type: object
      responses:
        '201':
          description: Agent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    $ref: '#/components/schemas/AgentDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Agent creation failed or organization not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /agents/{agent_id}:
    get:
      operationId: getAgent
      x-mcp-tool: gen_discover
      x-mcp-branch: "agent.detail"
      x-phase: setup
      summary: Get an agent
      description: Returns detailed information about a specific agent.
      tags: [Agents]
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - name: with_organization_uuid
          in: query
          schema:
            type: boolean
          description: Include organization UUID in response.
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'

    patch:
      operationId: updateAgent
      x-mcp-tool: gen_agent_action
      x-mcp-branch: "connect_agent_elevenlabs"
      x-phase: setup
      summary: Update an agent
      description: Updates agent properties including name, description, timezone, API keys, avatars, and default voice.
      tags: [Agents]
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agent:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    time_zone:
                      type: string
                    eleven_lab_api_key:
                      type: string
                    hume_ai_api_key:
                      type: string
                    agent_avatars_attributes:
                      type: array
                      items:
                        type: object
                    default_user_voice_attributes:
                      type: object
                      properties:
                        source:
                          type: string
                        voice_id:
                          type: string
      responses:
        '200':
          description: Updated agent
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    $ref: '#/components/schemas/AgentDetail'
        '403':
          description: Permission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Agent not found or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'

    delete:
      operationId: deleteAgent
      x-mcp-tool: gen_agent_action
      x-mcp-branch: "delete_agent"
      x-phase: setup
      summary: Delete an agent
      description: Permanently deletes an agent and all associated data.
      tags: [Agents]
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      responses:
        '200':
          description: Agent deleted
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    put:
      operationId: putAgentsByAgentId
      x-phase: ideas
      summary: "Create, update, or remove assistants and their profiles — set name"
      tags: [Agent Chat]
      parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              required:
                - "agent"
              properties:
                agent:
                  type: "object"
                  properties:
                    name: {}
                    description: {}
                    eleven_lab_api_key: {}
                    hume_ai_api_key: {}
                    agent_avatars_attributes:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          degod_avatar_id: {}
                          file: {}
                          is_primary:
                            type: "boolean"
                    default_user_voice_attributes:
                      type: "object"
                      properties:
                        source: {}
                        voice_id: {}
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  agent:
                    type: "object"
                    description: "`app/resources/agent_resource.rb` (extends `agent_for_index_resource.rb`)."
                    properties:
                      id: {}
                      name: {}
                      description: {}
                      organization_id: {}
                      eleven_lab_api_key:
                        description: "The literal \"connected\" when a key is stored; the key itself is never echoed."
                      primary_avatar_url: {}
                      primary_avatar_id: {}
                      agent_setup_project_id: {}
                      tiktok_integration:
                        type: "boolean"
                      degods:
                        type: "boolean"
                      tiktok_social_account:
                        type: "boolean"
                      role: {}
                      organization: {}
                      shared_users:
                        type: "array"
                        items: {}
                      default_user_voice: {}
                      time_zone: {}
                      time_zone_id: {}
                      location: {}
                      organization_uuid: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ApiValidationError'
      x-mcp-tool: gen_agent_action
      x-mcp-branch: "set_name"
  /agents/{agent_id}/avatars:
    get:
      operationId: listAgentAvatars
      x-mcp-tool: gen_discover
      x-mcp-branch: "agent.avatars"
      x-phase: setup
      summary: List agent avatars
      description: Returns all avatars for the agent. Cursor-based pagination (20 per page). Primary avatar listed first.
      tags: [Agents]
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor.
      responses:
        '200':
          description: List of avatars
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Avatar'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    post:
      operationId: createAgentAvatar
      x-mcp-tool: gen_agent_action
      x-mcp-branch: "create_agent_avatar"
      x-phase: setup
      summary: Upload agent avatar
      description: Upload one or more avatar images (JPEG, PNG, WebP) or link a DeGod avatar.
      tags: [Agents]
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                agent_avatars_attributes:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      id: {}
                      degod_avatar_id: {}
                      file: {}
                      _destroy: {}
      responses:
        '200':
          description: Avatar(s) created
        '422':
          description: Avatar creation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'

  /agents/{agent_id}/avatars/{id}:
    delete:
      operationId: deleteAgentAvatar
      x-mcp-tool: gen_agent_action
      x-mcp-branch: "delete_agent_avatar"
      x-phase: setup
      summary: Delete avatar(s)
      description: Delete one or more avatars. Pass multiple IDs separated by underscores (e.g. `7_8_9`).
      tags: [Agents]
      parameters:
        - $ref: '#/components/parameters/AgentIdPath'
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Avatar ID or multiple IDs separated by underscores.
      responses:
        '200':
          description: Avatar(s) deleted
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  # ── API Keys ───────────────────────────────────────────────
  /persisted_tokens:
    get:
      operationId: listApiKeys
      x-mcp-tool: gen_discover
      x-mcp-branch: "platform.api_keys"
      x-phase: setup
      summary: List API keys
      description: Returns all API keys for the authenticated user, including revoked and expired ones.
      tags: [API Keys]
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    post:
      operationId: createApiKey
      x-mcp-tool: gen_platform_action
      x-mcp-branch: "create_api_key"
      x-phase: setup
      summary: Create API key
      description: |
        Creates a new API key. The plain-text key is returned **only once** in the response.
        Store it securely — it cannot be retrieved again.
      tags: [API Keys]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Human-readable label. Auto-generated if omitted.
                  example: "My n8n workflow"
                expires_in:
                  type: integer
                  description: Seconds until expiration. Omit for non-expiring keys.
                  example: 2592000
      responses:
        '201':
          description: API key created. The `token` field contains the plain-text key.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiKey'
                  - type: object
                    properties:
                      token:
                        type: string
                        description: The plain-text API key. Store it now — it won't be shown again.
                        example: "gen_abc123def456..."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /persisted_tokens/{id}:
    patch:
      operationId: updateApiKey
      x-mcp-tool: gen_platform_action
      x-mcp-branch: "update_api_key"
      x-phase: setup
      summary: Rename API key
      tags: [API Keys]
      parameters:
        - $ref: '#/components/parameters/TokenId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [persisted_token]
              properties:
                persisted_token:
                  type: object
                  properties:
                    name:
                      type: string
                      example: "Renamed key"
      responses:
        '200':
          description: Updated API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /persisted_tokens/{id}/revoke:
    delete:
      operationId: revokeApiKey
      x-mcp-tool: gen_platform_action
      x-mcp-branch: "revoke_api_key"
      x-phase: setup
      summary: Revoke API key
      description: Permanently revokes a single API key. This cannot be undone.
      tags: [API Keys]
      parameters:
        - $ref: '#/components/parameters/TokenId'
      responses:
        '200':
          description: Key revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /persisted_tokens/revoke_all:
    delete:
      operationId: revokeAllApiKeys
      x-mcp-tool: gen_platform_action
      x-mcp-branch: "revoke_all_api_keys"
      x-phase: setup
      summary: Revoke all API keys
      description: Revokes every active API key for the authenticated user.
      tags: [API Keys]
      responses:
        '200':
          description: All keys revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Successfully revoked 3 tokens"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  # ── Sheets ─────────────────────────────────────────────────
  /vidsheet:
    post:
      operationId: createSheet
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "create_sheet | create_engine"
      x-phase: convert
      summary: Create a sheet
      description: Creates a new Auto Content Engine sheet for the specified agent.
      tags: [Sheets]
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [spreadsheet]
              properties:
                spreadsheet:
                  type: object
                  properties:
                    title:
                      type: string
                      example: "Q1 TikTok Campaign"
                    is_default:
                      type: boolean
                      default: false
      responses:
        '201':
          description: Sheet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/CreditRequired'

  /vidsheet/{sheet_id}:
    get:
      operationId: getSheet
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.sheet"
      x-phase: convert
      summary: Get a sheet
      description: |
        Returns a sheet with all columns, rows, cells, layers, and global variables.
        Pass `with_execution_cost=true` to include credit cost per cell/row.
      tags: [Sheets]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - name: with_execution_cost
          in: query
          schema:
            type: boolean
          description: Include execution cost for each cell and row.
      responses:
        '200':
          description: Sheet with full data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/CreditRequired'

  /vidsheet/{sheet_id}/clone:
    post:
      operationId: cloneSheet
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "duplicate_sheet"
      x-phase: convert
      summary: Clone a sheet
      description: Creates a deep copy of the sheet, optionally into a different agent.
      tags: [Sheets]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                target_agent_id:
                  type: string
                  description: Agent to clone into. Defaults to the same agent.
      responses:
        '201':
          description: Cloned sheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/CreditRequired'

  # ── Rows ───────────────────────────────────────────────────
  /vidsheet/{sheet_id}/rows:
    get:
      operationId: listRows
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.rows"
      x-phase: edit
      summary: List rows
      tags: [Rows]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      responses:
        '200':
          description: List of rows with cells
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Row'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    post:
      operationId: createRow
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] create/row"
      x-phase: edit
      summary: Create a row
      tags: [Rows]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                spreadsheet_row:
                  type: object
                  properties:
                    position:
                      type: integer
                      description: Position index for ordering.
      responses:
        '201':
          description: Row created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Row'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/rows/{row_id}:
    get:
      operationId: getRow
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.row"
      x-phase: edit
      summary: Get a row
      tags: [Rows]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/RowId'
      responses:
        '200':
          description: Row with cells
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Row'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/rows/{row_id}/duplicate:
    post:
      operationId: duplicateRow
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] duplicate/row"
      x-phase: edit
      summary: Duplicate a row
      description: Creates a deep copy of the row including all cells and layers.
      tags: [Rows]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/RowId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                agent_id:
                  type: "string"
                  description: "Agent context; the controller reads params[:agent_id] (`require_agent!`)."
              required:
                - "agent_id"
      responses:
        '201':
          description: Duplicated row
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Row'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/rows/update_positions:
    put:
      operationId: updateRowPositions
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] reorder/row"
      x-phase: edit
      summary: Reorder rows
      tags: [Rows]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rows]
              properties:
                rows:
                  type: array
                  items:
                    type: object
                    required: [id, position]
                    properties:
                      id:
                        type: string
                      position:
                        type: integer
      responses:
        '200':
          description: Updated rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Row'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/columns:
    get:
      operationId: listColumns
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.columns"
      x-phase: edit
      summary: List columns
      tags: [Columns]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      responses:
        '200':
          description: List of columns
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Column'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    post:
      operationId: createColumn
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "add_column | actions[] create/column"
      x-phase: edit
      summary: Create a column
      tags: [Columns]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                spreadsheet_column:
                  type: object
                  properties:
                    title:
                      type: string
                      example: "Video Script"
                    type:
                      type: string
                      example: "text"
                    position:
                      type: integer
      responses:
        '201':
          description: Column created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Column'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/columns/{column_id}/duplicate:
    post:
      operationId: duplicateColumn
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] duplicate/column"
      x-phase: edit
      summary: Duplicate a column
      tags: [Columns]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - name: column_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                agent_id:
                  type: "string"
                  description: "Agent context; the controller reads params[:agent_id] (`require_agent!`)."
                with_cells:
                  description: "Also duplicate the column's cells (default true)."
                  type: "boolean"
      responses:
        '201':
          description: Duplicated column
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Column'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/columns/update_positions:
    patch:
      operationId: updateColumnPositions
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] reorder/column"
      x-phase: edit
      summary: Reorder columns
      tags: [Columns]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                id_to_position:
                  description: "Map of column id to new position."
                  type: "object"
                  additionalProperties:
                    type: "integer"
      responses:
        '200':
          description: Updated columns
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/cells/{cell_id}:
    get:
      operationId: getCell
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.cell"
      x-phase: edit
      summary: Get a cell
      tags: [Cells]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
      responses:
        '200':
          description: Cell with layers and job history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cell'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    patch:
      operationId: updateCell
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "set_cell | actions[] update/cell"
      x-phase: edit
      summary: Update a cell
      description: Update the value or attributes of a cell.
      tags: [Cells]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                spreadsheet_cell:
                  type: object
                  properties:
                    value:
                      type: string
                      description: The cell's text content.
                      example: "A day in the life of a content creator..."
      responses:
        '200':
          description: Updated cell
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cell'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/cells/{cell_id}/set_default_user_job:
    patch:
      operationId: setDefaultUserJob
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] update/cell (values.take)"
      x-phase: edit
      summary: Set default generation for a cell
      description: Pin a specific generation result as the active/visible one for this cell.
      tags: [Cells]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              required:
                - "default_user_job"
              properties:
                default_user_job:
                  type: "object"
                  properties:
                    user_job_id:
                      type: "string"
                      description: "The generation (UserJob) id to pin as the cell's default."
                    is_user_job:
                      type: "boolean"
                      description: "true (default) pins a `UserJob`; false pins a legacy `Job`."
      responses:
        '200':
          description: Updated cell
          content:
            application/json:
              schema:
                type: "object"
                description: "`app/resources/spreadsheet_cell_resource.rb`."
                properties:
                  id: {}
                  value: {}
                  additional_attributes: {}
                  cell_role: {}
                  spreadsheet_column_id: {}
                  default_user_job: {}
                  user_jobs:
                    type: "array"
                    items: {}
                  video_layers:
                    type: "array"
                    items:
                      type: "object"
                      description: "`app/resources/video_layer_resource.rb`."
                      properties:
                        id: {}
                        name: {}
                        position: {}
                        type: {}
                        additional_attributes: {}
                        default_user_job: {}
                        user_jobs:
                          type: "array"
                          items: {}
                        execution_cost: {}
                        created_at_ts:
                          type: "integer"
                        updated_at_ts:
                          type: "integer"
                  execution_cost: {}
                  created_at_ts:
                    type: "integer"
                  updated_at_ts:
                    type: "integer"
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  # ── Layers ─────────────────────────────────────────────────
  /vidsheet/{sheet_id}/cells/{cell_id}/layers:
    post:
      operationId: createLayer
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "add_layer | actions[] create/layer"
      x-phase: edit
      summary: Create a layer
      description: Add a new video layer (text, sound, clip, etc.) to a cell.
      tags: [Layers]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                video_layer:
                  type: object
                  properties:
                    name:
                      type: string
                      example: "Background Music"
                    type:
                      type: string
                      example: "sound"
                    position:
                      type: integer
      responses:
        '201':
          description: Layer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/cells/{cell_id}/layers/{layer_id}:
    get:
      operationId: getLayer
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.layer"
      x-phase: edit
      summary: Get a layer
      tags: [Layers]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
        - $ref: '#/components/parameters/LayerId'
      responses:
        '200':
          description: Layer detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    patch:
      operationId: updateLayer
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "update_layer | actions[] update/layer"
      x-phase: edit
      summary: Update a layer
      tags: [Layers]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
        - $ref: '#/components/parameters/LayerId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                video_layer:
                  type: object
                  properties:
                    name:
                      type: string
                    additional_attributes:
                      type: object
      responses:
        '200':
          description: Updated layer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    delete:
      operationId: deleteLayer
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] delete/layer"
      x-phase: edit
      summary: Delete a layer
      tags: [Layers]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
        - $ref: '#/components/parameters/LayerId'
      responses:
        '204':
          description: Layer deleted
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/cells/{cell_id}/layers/{layer_id}/duplicate:
    post:
      operationId: duplicateLayer
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] duplicate/layer"
      x-phase: edit
      summary: Duplicate a layer
      tags: [Layers]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
        - $ref: '#/components/parameters/LayerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                agent_id:
                  type: "string"
                  description: "Agent context; the controller reads params[:agent_id] (`require_agent!`)."
                name: {}
                additional_attributes: {}
      responses:
        '201':
          description: Duplicated layer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Layer'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /vidsheet/{sheet_id}/cells/{cell_id}/layers/update_positions:
    put:
      operationId: updateLayerPositions
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "actions[] reorder/layer"
      x-phase: edit
      summary: Reorder layers
      tags: [Layers]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                id_to_position:
                  description: "Map of layer id to new position."
                  type: "object"
                  additionalProperties:
                    type: "integer"
      responses:
        '200':
          description: Updated layers
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  # ── Generations ────────────────────────────────────────────
  /vidsheet/{sheet_id}/cells/{cell_id}/generate:
    post:
      operationId: generateCellContent
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "generate (cell)"
      x-phase: edit
      summary: Generate content for a cell
      description: |
        Triggers AI content generation for a cell. Credits are pre-charged.
        Poll the generation status via `GET /v1/generations/{id}`.
      tags: [Generations]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [generation_type, data]
              properties:
                generation_type:
                  type: string
                  description: |
                    The type of AI generation to run. Canonical names:
                    text, image_from_text, video_from_text, video_from_image,
                    video_from_ingredients, speech_from_text, lipsync, captions,
                    transcription, song.
                    Use canonical names for new integrations. Uploaded media is a
                    cell value (PATCH the cell), not a generation.
                  enum:
                    - text
                    - image_from_text
                    - video_from_text
                    - video_from_image
                    - video_from_ingredients
                    - speech_from_text
                    - lipsync
                    - captions
                    - transcription
                    - song
                  example: "text"
                data:
                  type: object
                  description: |
                    Generation parameters (varies by type). Video generation card data may include
                    `aspect_ratio`, `duration`, optional `resolution` (`1080p` or `720p` where
                    supported), and optional `native_audio` for models that support native audio.
                    Omitted optional fields use the cell defaults or the closest supported model defaults.

                    Video generation accepts the Veo, Kling, Seedance and Grok models plus
                    `gemini-omni-flash-preview` (Gemini Omni Flash, 1-10s). Image generation with
                    `model: "gemini"` takes `version`: `nano-banana`, `nano-banana-pro`,
                    `nano-banana-2` or `nano-banana-2-lite`. The full per-card model lists are on
                    the card reference pages.

                    Song data (`generation_type: "song"`) takes `prompt`, `model` (`suno-v5-beta`,
                    `suno-v4.5plus-beta` or `suno-v5.5-beta`), `duration`, `instrumental`, `style`,
                    `title`, `negative_tags` and `vocal_gender`, plus optional source audio:
                    `source_audio_resource_id` (an existing audio content resource) or a public
                    HTTPS URL as `source_audio_url` (imported as a content resource first), and
                    `audio_weight` (0.0-1.0) for fidelity to the source. Source audio is capped at
                    8 minutes (480 s); longer input is refused before any charge.
                  example:
                    prompt: "A handheld product demo video"
                    model: "veo-3.1"
                    aspect_ratio: "9:16"
                    resolution: "1080p"
                    duration: 8
                    native_audio: false
      responses:
        '201':
          description: Generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  generation_id:
                    type: string
                  status:
                    type: string
                    example: "pending"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Insufficient credits or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /vidsheet/{sheet_id}/cells/{cell_id}/layers/{layer_id}/generate:
    post:
      operationId: generateLayerContent
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "generate (layer)"
      x-phase: edit
      summary: Generate content for a layer
      description: |
        Triggers AI generation for a video layer (voice, music, clip, etc.).
        Credits are pre-charged. Poll status via `GET /v1/generations/{id}`.
      tags: [Generations]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
        - $ref: '#/components/parameters/LayerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [generation_type, data]
              properties:
                generation_type:
                  type: string
                  description: Generation type — see cell generate endpoint for full list.
                  example: "speech_from_text"
                data:
                  type: object
      responses:
        '201':
          description: Generation started
          content:
            application/json:
              schema:
                type: object
                properties:
                  generation_id:
                    type: string
                  status:
                    type: string
                    example: "pending"
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /generations/{generation_id}:
    get:
      operationId: getGeneration
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.generation"
      x-phase: edit
      summary: Get generation status
      description: Check the status and result of an AI generation job.
      tags: [Generations]
      parameters:
        - name: generation_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Generation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generation'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /generations/{generation_id}/stop:
    post:
      operationId: stopGeneration
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "<flat ops>"
      x-phase: edit
      summary: Stop a generation
      description: Cancels a running generation. Credits are refunded.
      tags: [Generations]
      parameters:
        - name: generation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                agent_id:
                  type: "string"
                  description: "Agent context; the controller reads params[:agent_id] (`require_agent!`)."
              required:
                - "agent_id"
      responses:
        '200':
          description: Generation stopped
          content:
            application/json:
              schema:
                type: object
                properties:
                  generation_id:
                    type: string
                  status:
                    type: string
                    example: "stopped"
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /generations/{generation_id}/continue:
    post:
      operationId: continueGeneration
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "<flat ops>"
      x-phase: edit
      summary: Continue a stopped generation
      description: Resumes a previously stopped generation. Credits are re-charged.
      tags: [Generations]
      parameters:
        - name: generation_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body. Every field other than the routing keys is forwarded verbatim to `UserJobs::Continue`."
              additionalProperties: true
              properties:
                agent_id:
                  type: "string"
                  description: "Agent context; the controller reads params[:agent_id] (`require_agent!`)."
              required:
                - "agent_id"
      responses:
        '200':
          description: Generation resumed
          content:
            application/json:
              schema:
                type: object
                properties:
                  generation_id:
                    type: string
                  status:
                    type: string
                    example: "pending"
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /transcriptions:
    post:
      operationId: createTranscription
      x-mcp-tool: gen_generate
      x-mcp-branch: "transcribe"
      x-phase: edit
      summary: Transcribe audio or video
      description: |
        Transcribes audio or video to text without a sheet or cell. Pass exactly one
        source in `data`: `audio`, `video`, or `content_resource_id`. Returns a
        generation id — poll `GET /v1/generations/{id}` until status is "completed",
        then read `result`. Uses credits based on the duration of audio transcribed;
        credits are pre-charged and refunded on failure.

        Use the `captions` generation type instead when you need word-level timings
        for subtitle overlays on a video.
      tags: [Generations]
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [data]
              properties:
                data:
                  $ref: '#/components/schemas/TranscriptionData'
      responses:
        '201':
          description: Transcription job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  generation_id:
                    type: integer
                  status:
                    type: string
                    example: "pending"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: |
            Invalid source (`validation_error`) or not enough workspace credits
            (`insufficient_credits_for_job`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Render ────────────────────────────────────────────────
  /vidsheet/{sheet_id}/cells/{cell_id}/render:
    post:
      operationId: renderVideo
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "generate (cell, creation_card_type=final-video)"
      x-phase: export
      summary: Render final video
      description: |
        Composites all layers (video, audio, captions, text overlays) into a final video.
        The result appears in the final_video column cell.
        Returns a generation_id — poll `GET /v1/generations/{id}` until status is "completed".
        Credits are pre-charged and refunded on failure.
      tags: [Generations]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
        - $ref: '#/components/parameters/CellId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              description: "JSON request body."
              properties:
                generation_type:
                  type: "string"
                  description: "Canonical generation type for the render; resolved through `VidsheetSchema::CanonicalGenerationType`."
                data:
                  type: "object"
                  additionalProperties: true
                  description: "Card inputs; accepted as an object or a JSON-encoded string."
      responses:
        '201':
          description: Render started
          content:
            application/json:
              schema:
                type: object
                properties:
                  generation_id:
                    type: string
                  status:
                    type: string
                    example: "pending"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Variables ──────────────────────────────────────────────
  /vidsheet/{sheet_id}/global_variables:
    get:
      operationId: getGlobalVariables
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.variables"
      x-phase: edit
      summary: Get global variables
      description: Returns the global variables sheet associated with this sheet.
      tags: [Variables]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - $ref: '#/components/parameters/SheetId'
      responses:
        '200':
          description: Global variables sheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sheet'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /user_jobs:
    post:
      operationId: createUserJob
      x-mcp-tool: gen_task_action
      x-mcp-branch: "create_monitoring_job"
      x-phase: [ideas, export]
      summary: Create user job (monitoring or publishing)
      description: |
        Create a background job. Use `user_job_type` to select the job kind:

        - **`train_social`** — scrape social media content into the agent's knowledge base. Supports TikTok, Instagram, and YouTube. Send as multipart/form-data with `user_job[user_job_type]` and `user_job[data]` (JSON-stringified).
        - **`publish_content`** — legacy single-platform TikTok publish. Send as JSON with top-level `user_job_type` and `data` fields. New integrations should use `POST /schedule/with-post`, which covers every platform, validates up front and returns the live `post_url`.
      tags: [Content Monitoring, Publishing]
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: ["user_job[user_job_type]", "user_job[data]"]
              properties:
                "user_job[user_job_type]":
                  type: string
                  enum: [train_social]
                "user_job[data]":
                  type: string
                  description: JSON-stringified object with platform (tiktok|instagram|youtube), type (username|hashtag|keyword), value, days (0|1|7|30|90|180), country, max_results (1-50), monitoring (default false), comment_monitoring.
            example:
              "user_job[user_job_type]": train_social
              "user_job[data]": '{"platform":"instagram","type":"username","value":"@fashionbrand","days":30,"max_results":50,"monitoring":true}'
          application/json:
            schema:
              type: object
              required: [user_job_type, data]
              properties:
                user_job_type:
                  type: string
                  enum: [publish_content]
                data:
                  type: string
                  description: >-
                    JSON-stringified object with platform, media_url, description, schedule_type,
                    scheduled_time, media_type, title, thumbnail_url, timezone_offset. For multiple
                    images use media_urls (array; X allows up to 4 per tweet). X (Twitter) also
                    supports thread (array of {text, media_urls?} segments, posted as a chain) and
                    reply_to_tweet_id (reply to an existing tweet); both are X-only and ignored by
                    other platforms.
            example:
              user_job_type: publish_content
              data: '{"platform":"tiktok","media_url":"https://cdn.example.com/video.mp4","description":"Factory price reveal #sourcing","schedule_type":"now","media_type":"VIDEO"}'
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_job_id:
                    type: integer
              example:
                user_job_id: 12345
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error, unsupported platform/type combination, or no active credit purchase.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: getUserJobs
      x-phase: setup
      summary: "Schedule, publish, or remove posts — publish content"
      tags: [Generations]
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: "array"
                items:
                  type: "object"
                  description: "A UserJob (`app/resources/user_job_resource.rb`)."
                  properties:
                    id: {}
                    status: {}
                    user_job_type: {}
                    failed_reason: {}
                    user_message: {}
                    container_id: {}
                    container_type: {}
                    result: {}
                    object_type:
                      description: "Always the literal \"UserJob\"."
                      const: "UserJob"
                    seed: {}
                    raw_data: {}
                    input_nodes:
                      type: "array"
                      items: {}
                    output_nodes:
                      type: "array"
                      items: {}
                    output_resources:
                      type: "array"
                      items: {}
                    child_jobs:
                      type: "array"
                      items: {}
                    credit_outcome:
                      enum:
                        - "refunded"
                        - "charged"
                        - "not_charged"
                    retryable:
                      type: "boolean"
                    stage: {}
                    processing_started_at: {}
                    execution_cost:
                      description: "Stringified credit cost."
                      type: "string"
                description: "`head :ok`-style list; `UserJobResource` per job."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'
      x-mcp-tool: gen_publish_action
      x-mcp-branch: "publish_content"
  /user_jobs/{id}:
    get:
      operationId: getUserJob
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.audio_matches"
      x-phase: [ideas, export]
      summary: Get user job status
      description: |
        Poll an async user job. Works for both `train_social` (content monitoring) and `publish_content` (social publishing) jobs. Returns current status, progress, and the final `result` on completion.
      tags: [Content Monitoring, Publishing]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: User job status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  user_job_type:
                    type: string
                  status:
                    type: string
                    enum: [pending, processing, completed, failed]
                  result:
                    type: object
                    description: Populated on `completed`. For `publish_content`, contains `post_id`.
                  failed_reason:
                    type: string
                    description: Populated on `failed`.
              example:
                id: 138860
                user_job_type: publish_content
                status: completed
                result:
                  post_id: "7459234123456"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ApiValidationError'
    put:
      operationId: updateMonitoringJob
      x-mcp-tool: gen_task_action
      x-mcp-branch: "update_monitoring_job"
      x-phase: ideas
      summary: Update monitoring job
      description: Update an existing `train_social` job. Only jobs with `pending` or `processing` status can be updated. Send fields as flat form params (not nested).
      tags: [Content Monitoring]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum: [tiktok, instagram, youtube]
                type:
                  type: string
                  enum: [username, hashtag, keyword]
                value:
                  type: string
                days:
                  type: integer
                  enum: [0, 1, 7, 30, 90, 180]
                country:
                  type: string
                max_results:
                  type: integer
                  minimum: 1
                  maximum: 50
                monitoring:
                  type: boolean
                comment_monitoring:
                  type: boolean
      responses:
        '200':
          description: Monitoring job updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_job_id:
                    type: integer
              example:
                user_job_id: 12345
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Job status invalid or validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Templates ─────────────────────────────────────────────
  /schedule/with-post:
    post:
      operationId: createScheduledPost
      servers:
        - url: https://python.gen.pro
      x-mcp-tool: gen_publish_action
      x-mcp-branch: "schedule_post_<platform>"
      x-phase: [export]
      summary: Publish now or schedule a post (all platforms)
      description: |
        Post content to one or more connected social accounts — TikTok, Instagram, Facebook Page, YouTube, X, LinkedIn — immediately (`schedule_type: now`), at a time (`specific_time`), or in the agent's next free calendar slot (`next_available`, default). Instagram takes 2-10 items as a carousel (optional `instagram_music`), YouTube uploads `thumbnail_url` and takes `youtube_options` (visibility, shorts, tags, ...), LinkedIn takes a PDF/PPTX/DOCX document or up to 9 images and `linkedin_options` (visibility, alt_text).

        The request is validated per platform before anything is queued (media type and count, caption/title limits, required fields such as the YouTube title); a violation is a `422 platform_validation_failed` naming the platform and field. Publishing is asynchronous even for `now`: a `200` means accepted and queued. Poll `GET /schedule/post/{post_id}` for the per-platform outcome and the live `post_url`.

        The agent must have connected each target platform first (GEN app → Setup → Accounts).
      tags: [Publishing]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: |
            Any string up to 128 characters, unique per agent. A retry with the same key returns the original post (`idempotent_replay: true`) instead of creating a duplicate.
          schema:
            type: string
            maxLength: 128
        - name: X-Timezone-Offset
          in: header
          required: false
          description: Local UTC offset in hours (e.g. `-7`) used to render times in the response. Defaults to the agent's time zone.
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePostRequest'
            examples:
              youtubeNow:
                summary: YouTube video, now
                value:
                  agent_id: "agent_abc123"
                  platform: [youtube]
                  schedule_type: now
                  media_url: "https://cdn.gen.pro/outputs/render_xyz.mp4"
                  title: "Factory price reveal"
                  description: "What your $12 beauty sponge really costs."
                  strict: true
              linkedinText:
                summary: LinkedIn, text only
                value:
                  agent_id: "agent_abc123"
                  platform: [linkedin]
                  schedule_type: now
                  description: "Three things we learned shipping our publishing API this week..."
                  strict: true
              xThread:
                summary: X thread
                value:
                  agent_id: "agent_abc123"
                  platform: [x]
                  schedule_type: now
                  thread:
                    - text: "1/ Here is a thread about our launch."
                    - text: "2/ With a screenshot"
                      media_urls: ["https://cdn.example.com/shot.jpg"]
                    - text: "3/ Wrapping up."
              instagramCarousel:
                summary: Instagram carousel with auto music
                value:
                  agent_id: "agent_abc123"
                  platform: [instagram]
                  schedule_type: now
                  media_url: "https://cdn.gen.pro/outputs/clip_1.mp4"
                  media_urls: ["https://cdn.gen.pro/outputs/still_2.jpg", "https://cdn.gen.pro/outputs/still_3.png"]
                  description: "Three looks, one drop #carousel"
                  instagram_music: { mode: auto }
                  strict: true
              youtubeShort:
                summary: YouTube Short with a custom thumbnail
                value:
                  agent_id: "agent_abc123"
                  platform: [youtube]
                  schedule_type: now
                  media_url: "https://cdn.gen.pro/outputs/render_xyz.mp4"
                  thumbnail_url: "https://cdn.gen.pro/outputs/cover.jpg"
                  title: "Factory price reveal"
                  youtube_options: { visibility: public, shorts: true, tags: [sourcing, beauty] }
                  strict: true
              linkedinDocument:
                summary: LinkedIn PDF document, connections only
                value:
                  agent_id: "agent_abc123"
                  platform: [linkedin]
                  schedule_type: now
                  media_url: "https://cdn.gen.pro/outputs/q3-deck.pdf"
                  title: "Q3 in ten slides"
                  description: "Our Q3 numbers, one slide at a time."
                  linkedin_options: { visibility: connections }
                  strict: true
              multiScheduled:
                summary: One video to several platforms, scheduled
                value:
                  agent_id: "agent_abc123"
                  platform: [tiktok, instagram, youtube, x, linkedin]
                  schedule_type: specific_time
                  scheduled_time: "2026-09-20T15:00:00Z"
                  media_url: "https://cdn.gen.pro/outputs/render_xyz.mp4"
                  title: "Factory price reveal"
                  description: "What your $12 beauty sponge really costs. #sourcing"
                  tiktok_privacy_level: PUBLIC_TO_EVERYONE
                  tiktok_disable_comment: false
                  tiktok_disable_duet: false
                  tiktok_disable_stitch: false
      responses:
        '200':
          description: Accepted and queued (or replayed for a matching Idempotency-Key).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: A platform would reject this content, or the body is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformValidationError'
              example:
                detail:
                  error: "YouTube requires a title"
                  error_code: platform_validation_failed
                  platform: youtube
                  field: title
                  errors:
                    - platform: youtube
                      field: title
                      error: "YouTube requires a title"

  /schedule/posts:
    get:
      operationId: listScheduledPosts
      servers:
        - url: https://python.gen.pro
      x-mcp-tool: gen_discover
      x-mcp-branch: "publish.scheduled"
      x-phase: [export]
      summary: List scheduled posts (content calendar)
      tags: [Publishing]
      parameters:
        - $ref: '#/components/parameters/AgentId'
        - name: start_date
          in: query
          required: true
          description: Start of the window (ISO 8601 date).
          schema:
            type: string
        - name: end_date
          in: query
          required: true
          description: End of the window (ISO 8601 date). At most 60 days after `start_date`.
          schema:
            type: string
        - name: X-Timezone-Offset
          in: header
          required: false
          description: Local UTC offset in hours used to interpret the dates and render times.
          schema:
            type: number
      responses:
        '200':
          description: Posts in the window, each with `platforms_status`.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/PythonValidationError'

  /schedule/post/{post_id}:
    parameters:
      - name: post_id
        in: path
        required: true
        description: The `post_id` returned by `POST /schedule/with-post`.
        schema:
          type: integer
    get:
      operationId: getScheduledPost
      servers:
        - url: https://python.gen.pro
      x-mcp-tool: gen_discover
      x-mcp-branch: "publish.post_status"
      x-phase: [export]
      summary: Post outcome per platform (did it publish? where is it?)
      description: |
        The post with `platforms_status`: one entry per platform with `normalized_status` (`accepted` → `publishing` → `published` | `failed`), `platform_post_id`, the live `post_url` when published, and `error` / `error_code` / `failed_step` when failed.
      tags: [Publishing]
      responses:
        '200':
          description: The post and its per-platform outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PythonValidationError'
    patch:
      operationId: updateScheduledPost
      servers:
        - url: https://python.gen.pro
      x-mcp-tool: gen_publish_action
      x-mcp-branch: "update_scheduled_post"
      x-phase: [export]
      summary: Update a scheduled post before it goes out
      description: |
        Sparse update of the content fields, `scheduled_time` and `schedule_type`. Refused once the post has been sent or when it was created with `schedule_type: now`.
      tags: [Publishing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePostUpdate'
      responses:
        '200':
          description: The updated post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledPost'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PythonValidationError'
    delete:
      operationId: deleteScheduledPost
      servers:
        - url: https://python.gen.pro
      x-mcp-tool: gen_publish_action
      x-mcp-branch: "delete_scheduled_post"
      x-phase: [export]
      summary: Delete a scheduled post
      tags: [Publishing]
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                required:
                  - "message"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PythonValidationError'

  /schedule/post/{post_id}/published:
    parameters:
      - name: post_id
        in: path
        required: true
        description: The `post_id` of a post that has already published.
        schema:
          type: integer
    patch:
      operationId: updatePublishedPost
      servers:
        - url: https://python.gen.pro
      x-mcp-tool: gen_publish_action
      x-mcp-branch: "update_published_post"
      x-phase: [export]
      summary: Edit the metadata of a post that is already live
      description: |
        Change a published post's metadata where the destination network supports it — today, a YouTube video's `title`, `description`, `tags` and `category_id`. `GET /schedule/platforms` names the editable fields per platform in `editable_after_publish`.

        The edit is **sparse**: only the fields in the request body change. GEN reads the platform's current metadata, merges your change onto it, writes it back, and returns what the platform held afterwards — so a title you did not send is not cleared, and the same request sent twice converges on the same result rather than stacking edits.

        The response is `200` with one result per platform the post went out on, each `updated`, `unsupported_after_publish`, `reauthorization_required` or `failed`. A network with no edit path is reported as `unsupported_after_publish` and nothing is touched; it is never an authentication error. A `422` means the body itself is wrong — a field the platform cannot change after publishing, or one that breaks the platform's limits.

        Use `PATCH /schedule/post/{post_id}` for a post that has **not** gone out yet; that endpoint still refuses published posts.

        Each YouTube update consumes 50 units of the connected channel's YouTube API quota.
      tags: [Publishing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishedPostUpdate'
            examples:
              fixDescription:
                summary: Fix a typo in a live YouTube description
                value:
                  description: "What your $12 beauty sponge really costs — corrected sourcing figures in the pinned comment."
              retitleAndRetag:
                summary: Retitle, retag and recategorise
                value:
                  title: "Factory price reveal (2026 update)"
                  tags: [sourcing, beauty, supply chain]
                  category_id: 24
      responses:
        '200':
          description: One result per platform the post published to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishedPostUpdateResponse'
              examples:
                updated:
                  summary: YouTube accepted the edit
                  value:
                    post_id: 120750
                    results:
                      - platform: youtube
                        platform_post_id: "dQw4w9WgXcQ"
                        result: updated
                        updated_fields: [description]
                        metadata:
                          title: "Factory price reveal"
                          description: "What your $12 beauty sponge really costs — corrected sourcing figures in the pinned comment."
                          tags: [sourcing, beauty]
                          category_id: 22
                        quota_units: 50
                unsupported:
                  summary: The platform has no post-publication edit
                  value:
                    post_id: 120751
                    results:
                      - platform: tiktok
                        platform_post_id: "7412..."
                        result: unsupported_after_publish
                        message: "tiktok has no supported post-publication edit for this content."
                reauthorization:
                  summary: The connected account must be reconnected
                  value:
                    post_id: 120750
                    results:
                      - platform: youtube
                        platform_post_id: "dQw4w9WgXcQ"
                        result: reauthorization_required
                        message: "Reconnect the YouTube account: GEN's saved authorization is no longer usable."
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: You do not have permission to edit this post.
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            The post has not published yet (`post_not_published`), the body is empty, or a field is not editable after publishing / breaks the platform's limits (`platform_validation_failed`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformValidationError'
              example:
                detail:
                  error: "YouTube cannot change visibility after publishing"
                  error_code: platform_validation_failed
                  platform: youtube
                  field: visibility
                  errors:
                    - platform: youtube
                      field: visibility
                      error: "YouTube cannot change visibility after publishing"

    delete:
      operationId: deleteSchedulePostByPostIdPublished
      servers:
        - url: https://python.gen.pro
      x-phase: export
      summary: "Schedule, publish, or remove posts — delete published post"
      tags: [Publishing]
      parameters:
      - name: post_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  post_id:
                    type: "integer"
                  results:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        platform:
                          type: "string"
                        outcome:
                          type: "string"
                        message:
                          type: "string"
                      required:
                        - "platform"
                        - "outcome"
                      additionalProperties: true
                required:
                  - "post_id"
                  - "results"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/PythonValidationError'
      x-mcp-tool: gen_publish_action
      x-mcp-branch: "delete_published_post"
  /templates/projects:
    get:
      operationId: listTemplates
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.templates"
      x-phase: convert
      summary: List templates
      description: Returns paginated list of pre-configured engine templates. 20 per page.
      tags: [Templates]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          description: Page number (starts at 1).
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /templates/projects/{slug}:
    get:
      operationId: getTemplate
      x-mcp-tool: gen_discover
      x-mcp-branch: "vidsheet.template"
      x-phase: convert
      summary: Get a template
      description: Returns a single template by slug, UUID, or numeric ID.
      tags: [Templates]
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: URL slug, UUID, or numeric ID.
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ApiValidationError'

  /templates/spreadsheets/{slug}/clone:
    post:
      operationId: cloneTemplate
      x-mcp-tool: gen_vidsheet_action
      x-mcp-branch: "clone_template"
      x-phase: convert
      summary: Clone a template
      description: Clones the template into the specified agent's workspace. Returns the new engine with columns, rows, and cells.
      tags: [Templates]
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Template slug, UUID, or numeric ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_id]
              properties:
                agent_id:
                  type: string
                  description: Agent to clone the template into.
      responses:
        '201':
          description: Cloned engine
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/CreditRequired'

  # ── Organizations ─────────────────────────────────────────
  /organizations:
    get:
      operationId: listOrganizations
      x-mcp-tool: gen_discover
      x-mcp-branch: "platform.organizations"
      x-phase: setup
      summary: List organizations
      description: Returns all organizations the authenticated user belongs to.
      tags: [Organizations]
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ApiValidationError'

    post:
      operationId: createOrganization
      x-mcp-tool: gen_platform_action
      x-mcp-branch: "create_organization"
      x-phase: setup
      summary: Create an organization
      tags: [Organizations]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [organization]
              properties:
                "organization[name]":
                  type: string
                  example: "My Company"
                "organization[avatar]":
                  type: string
                  format: binary
                  description: Organization avatar image.
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization_id:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /organizations/{organization_id}:
    get:
      operationId: getOrganization
      x-mcp-tool: gen_discover
      x-mcp-branch: "platform.organization"
      x-phase: setup
      summary: Get an organization
      tags: [Organizations]
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization details
          content:
[...]
